{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mliky Store</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/productCard.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'js/addtocart.js' %}"></script>
</head>

<body>
  <div class="container">
   <div class="navbar">
      <div class="ctgry">
        <button class="dropbtn">
          <i class="fa fa-bars"></i>
        </button>
        <div class="dropdown-content">
          <a href="#M&T">Phones and Tablets</a>
          <a href="#HA">Household appliances</a>
          <a href="products.html">Gaming</a>
          <a href="#PC">PCs </a>
          <a href="#M&S">Headpones and Speakers </a>
        </div>
      </div>
      <a href="index.html">Milky Way</a>
      <a href="addtocart.html" class="fa fa-shopping-cart">Cart</a>
      <a href="myOrders.html" class="fa fa-file-text-o">My orders</a>
      <a href="Accounthtml.html">Account</a>
      <input type="text" placeholder="Search for product..." style="align-self: flex-end;">
    </div>
    <hr class="line">
    <section class="maindisplay">
      <div class="col-2">
        <h1>Welcome to the Mliky Store</h1>
        <h4>Your home for any tech needs in the entire milky galaxy.<h3>
      </div>
      <div class="col-2">
        <img src="{% static 'Images/galaxys24.jpg' %}">
      </div>
  </div>
  <hr class="line2">
  </section>
  </div>
  <div>
    <div class="row">
      <div class="card">
        <img src="{% static 'Images/laptop.jpg' %}" alt="Lenovo laptop">
        <h1>Lenovo Laptop</h1>
        <p class="price">$1599.99</p>
        <p>Some text about Levnovo</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('Images/laptop.jpg','Lenovo',1599.99,1)">Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="Images/airpods.jpg" alt="airpods">
        <h1>Airpods Pro 2</h1>
        <p class="price">$149.99</p>
        <p>Some text about airpods</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('Images/airpods.jpg','Airpods pro 2',149.99,1)">Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="Images/iphone16pro.jpg" alt="iphone 16 pro">
        <h1>Iphone 16 Pro</h1>
        <p class="price">$1999.99</p>
        <p>Some text about Iphone 16 Pro</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('Images/iphone16pro.jpg','iphone16pro',1999.99,1)" >Add to Cart</button></p>
      </div>
      <div class="card">
        <img src="Images/ps4.png" alt="Playstation 4">
        <h1>Playstation 4</h1>
        <p class="price">$249.99</p>
        <p>Some text about Ps4</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('Images/ps4.png','playstation4',249.99,1)">Add to Cart</button></p>
      </div>
    </div>
</body>

</html>