*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: purple;
    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .ctgry {
    float: left;
    overflow: hidden;
  }
  
  .ctgry .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .ctgry:hover .dropbtn {
    background-color: orange;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .ctgry:hover .dropdown-content {
    display: block;
  }
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style the search box inside the navigation bar */
.navbar [type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}

.title{
    text-align: center;}
.container table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.container table thead{
    font-weight: bold;
}
.container table thead td{
    background-color :purple;
    color:white;
    border:none;
    padding:6px 0;
}
.quantity{
    width: 30px;
    text-align: center;
}
.img{
    width: 80%;
    object-fit: cover;
}
.container table  td{
    border:1px solid #b6b3b3;
    text-align: center;
}
.total{
    columns: large;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid purple;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.payment-method {
  float: right;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.payment-method h2 {
  float: right;
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-method label {
  float:right;
  font-size: 16px;
  margin: 5px 0;
}

.payment-method .btn {
  float: right;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.payment-method .btn:hover {
  opacity: 0.7;
}
.payment-method .btn:active {
  opacity: 0.5;
}


