body {
    background-color: aliceblue;
}

.signup {
    width: 450px;
    height: 475px;
    padding: 0px 50px;
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #575756
}


.signup h1 {
    margin: 20px;
    padding: 20px 20px;
    color: #fff;
    text-align: center;

}

.signup label {
    color: #fff;
    font-weight: bold;
}

.signup input {
    width: 290px;
    margin: 10px 0px;

}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    border: none;
    outline: none;
    width: 302px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;

}

.signup input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 18px;
    background: rgb(152, 122, 234);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}

.signup input[type="submit"]:hover {
    transform: scale(1.1);
}

.signup p {
    color: #fff;
    margin: auto;
}

.signup a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}