*{
    box-sizing: border-box;
    line-height: 1;
    padding: 0;
}

body {
    background-color: violet;
}

.Orders-tab {
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
height: auto;
    
width: auto;
    
flex-direction: row;
    
flex-wrap: wrap;
    
}

.Orders-tab h2 {
    margin-top: 20px;
}
.Orders-tab .current-orders-list {
    background-color: rgb(255, 255, 255);
    width: autp;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.Orders-tab .page-headline {
    
height: auto;
    
display: flex;
    
color: purple;
    
flex-direction: row;
}


.Orders-tab .page-headline h2 {
    margin-left: 20px;
}

.Orders-tab .page-headline p {
margin-top:25px;
margin-left: 60px;
}

 .current-order {
    width: 890px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.current-order-header {
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    align-items: center;
}

.current-order-header .order-id {
    width: fit-content;
    height: 23px;
    border-style: solid;
    border-radius:30px;
    border-color: #d1c;
    background-color:rgb(214, 85, 214);
    color: white;
    margin-bottom: 2px;
}

.current-order-header .order-date {
    margin-left: 20px;
    margin-top: 5px;
    color: #a4a3a3;
}
.current-order-header .order-tracker {
    height: 30px;
    margin-left: auto;
    background-color: gold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.current-order-header .order-tracker:hover
{
    background-color: rgb(26, 255, 0);
}

.current-order .order-product {
    display: flex;
    height: auto;
    margin-top: 10px;
    width: auto;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3px;
}

.current-order .order-img img{
    height: 150px;
}

.order-product .order-info {margin-top: 10px;margin-left: 25px;display: flex;flex-direction: column;}

.order-product .order-info .Pname {
    width: 200px;
    display: flex;
}

.quantity-price {
    display: flex;
    width : auto;
    margin-top: auto;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 5px;
}



.order-product .order-info .quantity-price h4 {
    color:#a4a3a3;
}

#price1 {
    margin-left: 4px;
    color: #3498db;
}

.current-order .order-status {
    margin-top: 50px;
    margin-left: auto;
    color: #a4a3a3;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
}

.current-order .order-status h3 {
    margin-top: 9px;
    color:orange;
    width: max-content;
}

.current-order .delivery {
    margin-top: 60px;
    margin-left: auto;
    color: #a4a3a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35px;
    padding-bottom: 9px;
}

.current-order .delivery h3 {
    color: black;
    margin-top: 9px;
}

.current-order .order-bottom {
    width: auto;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.current-order .order-bottom .Total-cost {
    margin-left: auto;
    color: #a4a3a3;
    display: flex;
}

.cancel-order {
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5px;
    width: 130px;
    height: 31px;
    margin-bottom: 0px;
}

.cancel-order:hover {background-color: #d73030;}

.order-item {
    display: flex;
    border-style: outset;
    margin-bottom: 7px;
}

.order-row {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-top: 3px solid grey; /* Top border */
    border-bottom: 3px solid grey; /* Bottom border */
    border-left: none; /* Remove left border */
    border-right: none;
    width: auto;
}

.current-order .order-bottom .Total-cost h5 {
    font-size: 1.4em;
    color: black;
    margin-left: 10px;
}

.quantity-price > h3 {
    color: #a4a4a4;
    margin-left: 60px;
}





.page-headline ~ p {
    padding-top: 60px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 120px;
}