*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: purple;
    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .ctgry {
    float: left;
    overflow: hidden;
  }
  
  .ctgry .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .ctgry:hover .dropbtn {
    background-color: orange;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-phonesTablet li .dropdown-phonesTablet > ul
  {
      left: 100%;
      top: 0;
    }
  
    .dropdown-phonesTablet > li {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 150px;
    }
  
    .dropdown-phonesTablet:hover > li{
      display: block;
    }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .ctgry:hover .dropdown-content {
    display: block;
  }

  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

.maindisplay {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style the search box inside the navigation bar */
.navbar [type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}
.line{
  border:black solid 1px;
  border-color: black;
}
.line2{
  border:rgb(1, 115, 150) solid 1px;
  border-color:rgb(1, 115, 150) ;
}

