{% extends 'base.html' %}
{% load static %}

{% block title %}My cart{% endblock%}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/addtocart.css'%}">
{% endblock %}


{% block head_js%}
<script src="{% static 'js/addtocart.js' %}" defer></script>
{% endblock%}

{% block content%}
    <div class="container">
    <h1 class="title" >Add to cart</h1>
    <section  class ="container">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td> 
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
            {% if product.id %}
                {% for product_id, item in cart.items %}
                <tr>
                    <td><a href="#" onclick="deleteItem(this)"><i class="fa fa-trash-o" style="font-size:24px"></i></a></td>
                
                    <td><img class="img" src="{{ item.image.url }}" alt=""></td>
                    <td><h5>{{item.pName}}</h5></td>
                    <td id="price">{{item.price}}</td>
                    <td><input class="quantity" type="number" value="1" min="1" onclick="price()"></td>
                    <td class="total">{{item.price}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h3>Your cart is empty.</h3>
                {% endif %}
            </tbody>
        </table>
    </section>

    <section class ="container1">
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td id="subtotal">$0.00</td>
                </tr>
                <tr>
                    <td>Tax (15%)</td>
                    <td id="tax">$0.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="total">$0.00</td>
                </tr>
            </table>
        </div>
        <section class="payment-method">
            <h2>Select Payment Method</h2>
            <form id="paymentForm">
                <label>
                    <input type="radio" name="payment" value="Cash" required>
                    Cash
                </label>
                <br>
                <label>
                    <input type="radio" name="payment" value="Visa" required>
                    Visa
                </label>
                <br>
                <button type="button" class="btn" onclick="checkout()">Proceed to Payment</button>
            </form>
        </section>
        
    </section>
    {% endblock %}
    

