{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/productCard.css' %}">
{% endblock %}

 
{% block head_js%}
  <script src="{% static 'js/addtocart.js' %}"></script>
{% endblock%}

{% block content %}
  
  <hr class="line">
  <hr class="line">
  <section class="maindisplay">
    <div class="col-2">
      <h1>Welcome to the Mliky Store</h1>
      <h4>Your home for any tech needs in the entire milky galaxy.<h3>
    </div>
    <div class="col-2">
        <img src="{% static 'Images/galaxys24.jpg' %}">
    </div>
  </div>
  <hr class="line2">
  </section>
  </div>
  <div>
    <div class="row">
      <div class="card">
        <img src="{% static 'Images/laptop.jpg' %}" alt="Lenovo laptop">
        <h1>Lenovo Laptop</h1>
        <p class="price">$1599.99</p>
        <p>Some text about Levnovo</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('{% static 'Images/laptop.jpg' %}','Lenovo',1599.99,1)">Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="{% static 'Images/airpods.jpg'%}" alt="airpods">
        <h1>Airpods Pro 2</h1>
        <p class="price">$149.99</p>
        <p>Some text about airpods</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('{% static 'Images/airpods.jpg'%}','Airpods pro 2',149.99,1)">Add to Cart</button></p>
      </div>

      <div class="card">
        <img src="{% static 'Images/iphone16pro.jpg'%}" alt="iphone 16 pro">
        <h1>Iphone 16 Pro</h1>
        <p class="price">$1999.99</p>
        <p>Some text about Iphone 16 Pro</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('{% static 'Images/iphone16pro.jpg'%}','iphone16pro',1999.99,1)" >Add to Cart</button></p>
      </div>
      <div class="card">
        <img src="{% static 'Images/ps4.png'%}" alt="Playstation 4">
        <h1>Playstation 4</h1>
        <p class="price">$249.99</p>
        <p>Some text about Ps4</p>
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('{% static 'Images/ps4.png'%}','playstation4',249.99,1)">Add to Cart</button></p>
      </div>
{% endblock%}

