{% extends 'base.html' %}
{% load static %}

{% block head_css %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css./myOrders.css'%}">
{% endblock %}
  
{% block content %}
      <div class="container">
        <div class="Orders-tab">
            
            <div class="current-orders-list">
                <div class="page-headline">
                    <h2>My Orders</h2>
                    <p>View and edit your orders here</p>
                </div>
                {% if orders %}
                    {% for order in orders %}
                <div class="current-order">
                    
                    <div class="current-order-header">
                        <h4 class="order-id">Order #{{ order.id }}</h4>
                        <h5 class="order-date">Order placed: {{order.creation_date}}</h5>
                    </div>
            <div class="order-row">      
            <div class="order-product">
                {% for item in order.items.all %}
                <div class="order-item">
                <div class="order-img">
                    <img src= "{{item.product.image.url}}" alt="{{item.product.pName}}">
                </div>
                <div class="order-info">
                    <h3 class="Pname">{{item.product.pName }}</h3>
                    <div class="quantity-price">
                    <h4 >Qty: </h4>
                    <h4 id="q1">{{item.quantity}}</h4>
                    <h3>Price:</h3>
                    <h3 id="price1">{{item.price}}</h3>
                    </div>
                </div>
            </div>
        
            {% endfor %}
            </div>
                <div class="order-status">
                    Status
                    <h3>{% if order.status%}
                        In - Transit
                        {% else %}
                        Processed At Giza facilty
                        {% endif %}
                    </h3>
                </div>

                <div class="delivery">
                    Delivery expected by
                    <h3>2/10/2025</h3>
                </div>
            </div>
                <div class="order-bottom">
                    <button class="cancel-order"><i class="fa fa-times">CANCEL ORDER</i></button>
                    
                    <div class="Total-cost" id="Tot-Cost">Total Price:<h5> {{order.total_price}}$</h5></div>
                </div>
            </div>
           
                    
                </div>
            {% endfor %}
            {% else %}
            <p>You have no orders yet.</p>
        {% endif %}
               
            </div>
        </div> 
{% endblock %}   





     
  