{% extends 'base.html '%}
{% load static %}

{% block title %}Products{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/productCard.css' %}">
{% endblock %}

 
{% block head_js%}
  <script src="{% static 'js/addtocart.js' %}"></script>
{% endblock%}


{% block content %}

    <h2 class="pCtgry"> Products in {{ category }}</h2>
    <div class="row">
     {% for product in products %}
          {% include 'productCard.html' with product=product %}
     {% endfor %}

     </div>
  </div>
{% endblock %}







