
 
 <div class="card">
          {% if product.is_sale %}
          <div class="sale-badge">SALE</div>
          {% endif %}   
          <img src="{{product.image.url}}" alt="{{ product.pName}}">
          <a class="view-btn" href="{% url 'product_detail' category.id product.id %}"><h1 class="pname">{{product.pName}}</h1></a>
          <div class="price-review"><p class="price">
          {% if product.is_sale %}

          <strike>{{product.price}}$</strike>
           &nbsp; {{product.sale_price}}$                 
          
          {% else %}
          {{product.price}}$
          {% endif %}   
          </p>
          
          <div class="rating"> 
            {% if product.average_rating is None %}
                No reviews yet
            {% else %}
            <div class="stars">
                {% for i in "12345" %}
                    {% if product.average_rating >= forloop.counter %}
                        <span style="color: gold;">⭐</span>  
                    {% else %}
                        <span style="color: gray;">☆</span> 
                    {% endif %}
                {% endfor %}
            </div>    
            {% endif %}
            
          </div>
        </div>
          <p class="addTocrt"><button onclick="navigateWithData('{{product.image.url}}','{{product.pName}}',{{product.price}},1)">Add to Cart</button></p>
      </div>