{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/productCard.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/addtocart.js' %}"></script>
  <title>Products</title>
</head>
<body>
    <div class="container">
      <div class="navbar">
        <div class="ctgry">
          <button class="dropbtn">
            <i class="fa fa-bars"></i>
          </button>
          <div class="dropdown-content">
            <a href="#M&T">Phones and Tablets</a>
            <a href="#HA">Household appliances</a>
            <a href="{% url 'products' %}">Gaming</a>
            <a href="#PC">PCs </a>
            <a href="#M&S">Headpones and Speakers </a>
          </div>
        </div>
        <a href="{% url 'home' %}">Milky Way</a>
        <a href="{% url 'cart'%}" class="fa fa-shopping-cart">Cart</a>
        <a href="{% url 'myorders' %}" class="fa fa-file-text-o">My orders</a>
        <a href="{% url 'account' %}" >Account</a>
        <input type="text" placeholder="Search for product..." style="align-self: flex-end;">
      </div>
    <div class="row">
      <div class="card">
          <img src="{% static 'Images/digivice.png'%}" alt="Digivice">
          <h1>Digivice</h1>
          <p class="price">$20</p>
          <p>Some text about digivice</p>
          <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
          </div>
          <p><button onclick="navigateWithData('{% static 'Images/digivice.png'%}','Playstation 5',20,1)">Add to Cart</button></p>
      </div>
  
      <div class="card">
          <img src="{% static 'Images/ps5PE.jpeg'%}" alt="Playstation 5">
          
          <a href="{% url 'products' %}"><h1>Playstation 5 Physical Edition</h1></a>
          <p class="price">$499.99</p>
          <p>Some text about PS5</p>
          <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
          </div>
          <p><button onclick="navigateWithData('{% static 'Images/ps5PE.jpeg'%}','Playstation 5',499.99,1)">Add to Cart</button></p>
      </div>
  
      <div class="card">
          <img src="{% static 'Images/nintendo.jpg'%}" alt="Nintendo Switch">
          <h1>Nintendo Switch</h1>
          <p class="price">$249.99</p>
          <p>Some text about Nintendo Switch</p>
          <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
          </div>
          <p><button onclick="navigateWithData('{% static 'Images/nintendo.jpg'%}','Nintendo Switch',249.99,1)">Add to Cart</button></p>
      </div>
      <div class="card">
        <img src="{% static 'Images/ps4.png'%}" alt="Playstation 4">
        <h1>Playstation 4</h1>
        <p class="price">$249.99</p>
        <p>Some text about Ps4</p>
        <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <p><button onclick="navigateWithData('{% static 'Images/ps4.png'%}','Playstation 4',249.99,1)">Add to Cart</button></p>
    </div>
  </div>
  

</body>
</html>







