
 
 <div class="card">
          {% if product.is_sale %}
          <div class="sale-badge">SALE</div>
          {% endif %}   
          <img src="{{product.image.url}}" alt="{{ product.pName}}">
          <h1>{{product.pName}}</h1>
          <p class="price">
          {% if product.is_sale %}

          <strike>{{product.price}}$</strike>
           &nbsp; {{product.sale_price}}$                 
          
          {% else %}
          {{product.price}}$
          {% endif %}   
          </p>
          <p><a class="view-btn" href="{% url 'product_detail' category.id product.id %}">View details</a></p>
          <div class="rating">
          </div>
          <p><button onclick="navigateWithData('Images/digivice.png','Playstation 5',20,1)">Add to Cart</button></p>
      </div>