<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
          
            
            <div class="ctgry">
              <button class="dropbtn">
                <i class="fa fa-bars" ></i>
              </button>
              <div class="dropdown-content">
                <a href="#M&T">Phones and Tablets</a>
                <a href="#HA">Household appliances</a>
                <a href="products.html">Gaming</a>
                <a href="#PC">PCs </a>
                <a href="#M&S">Headpones and Speakers </a>
              </div>
            </div>
            <a href="HomePage.html">Home</a>
            <a href="addtocart.html" class="fa fa-shopping-cart">Cart</a> 
            <a href="myOrders.html" class="fa fa-file-text-o">My orders</a>
            <a href="#account">Account</a> 
            <input type="text" placeholder="Search for product..." style="align-self: flex-end;">
          </div>
    </div>
</body>
</html>